.bloco {
  height: 250px;
  width: 270px;
  min-width: 270px;
  min-height: 250px;
  background-color: red;
  margin-left: 50px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.bloco h1 {
  margin-block-start: 0px;
}
