.cardDisplay {

  min-height: 260px;
  width: 300px;
  min-width: 300px;

  background-color: var(--secundary-color);
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 4px solid var(--secundary-color);

}


.cardDisplay:hover {
  border: 4px solid var(--main-color);
  box-shadow: 4px 3px 2px rgba(192, 201, 184);
}
.cardDisplay h1 {
  margin-block-start: 0px;
  color: var(--secundary-color);
}

.headerCardDisplay{
  width: 100%;
  min-height: 50px;
  background-color: var(--main-color);
  padding-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--secundary-color);
}
.headerCardDisplay h2{
margin-left: 15px;
}
.headerCardDisplay h3{
  margin-left: 15px;
  margin-top: 5px;
  padding-bottom: 5px;
  }

.informationCardDisplay{
  padding:20px;
  font-size: 19px;
  color: var(--font-color);
}

footer{
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
}


@media only screen and (max-width: 414px) {
  .cardDisplay {
    width: 90%;
    margin-left: 0px;
  }
}
