.bloco {
  height: 310px;
  width: 300px;
  min-width: 300px;

  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 4px solid white;

}
.bloco:hover {
  border: 4px solid #FF7F11;
}
.bloco h1 {
  margin-block-start: 0px;
}

.headerBloco{
  width: 100%;
  height: 50px;
  background-color: #FF7F11;
  padding-top: 20px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.information{
  padding:30px;
}
