.displayWorld {
  width: 100%;

  min-height: 250px;
  background-color: var(--main-color);
  text-align: center;
  color: var(--secundary-color);
  font-size: 25px;
  margin-top: 100px;
}
.displayWorld:hover {
  background-color: var(--world-hover);
}
.displayWorld h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.displayWorld p {
  margin-bottom: 10px;
}


@media only screen and (max-width: 375px) {
  .displayWorld {
    font-size: 20px;
  }
}
