.App {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  height: 100%;
  justify-content: center;
}

header{
  height: 100px;
  width: 100%;
  background-color: #121011;
  text-align: center;
  border-bottom: 4px solid #FF7F11;
}


header h1{
  color:#FF7F11;
  margin-top: 20px;
}

#loading{
  color:#FF7F11;
}
