.app {
  flex-wrap: wrap;
  margin: 0px;
}

.button-plus-div {
  width: 100%;
  height: 150px;
}

.button-plus-div button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: var(--secundary-color);
  font-size: 50px;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  outline: none;
}
.button-plus-div button:hover {
  color: var(--secundary-color);
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: 4px 3px 2px rgba(192, 201, 184);
}

.all-cards {
  max-width: 1300px;
  flex-wrap: wrap;
  outline: none;
}

.error-div {
  min-height: 86%;
  display: flex;
  align-items: center;
  color: var(--world-hover);
}

.button-scrolltop-div {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.button-scrolltop-div button {
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  color: var(--secundary-color);
  font-size: 20px;
  border-radius: 30px;
  outline: none;
  border: 2px solid var(--secundary-color);
  cursor: pointer;
}

.button-scrolltop-div button:hover {
  border: 2px solid var(--world-hover);
}

.button-scrolltop-div .icon {
  font-size: 30px;
}
